<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="css/quiztaker.css">
    <link rel="stylesheet" href="css/result.css">
    
   
 
    <title>I-Quiz</title>
    
  </head>
  <body>
    
    <div class="n1 container-fluid flex-container">
       <div class="n2">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark1 na">
          <a class="navbar-brand" href="/dashboard" data-toggle="tooltip" data-placement="bottom" title="Platform for everyone!">I-Quiz</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto">
              <!-- <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="/dashboard" data-toggle="tooltip" data-placement="bottom" title="Home page">Dashboard</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/attendedquiz" data-toggle="tooltip" data-placement="bottom" title="Attended by you">Attended Quiz</a>
                </li>
              <li class="nav-item selected">
                  <a class="nav-link selected" href="#" data-toggle="tooltip" data-placement="bottom" title="Home page">Result</a>
                </li>
              <div class="sq">
                <li class="nav-item">
                  <a class="nav-link <%= setter? '':'disabled' %> " href="/setquiz1" tabindex="-1" aria-disabled="<%= setter.toString() %>"  >Set Quiz</a>
                </li></div>
                                  <% if(setter){ %>
                <li class="nav-item">
                  <a class="nav-link" href="/quizzesset" data-toggle="tooltip" data-placement="bottom" title="setted by you">Quizzes set</a>
                </li>
                  <% }; %>
                <li class="nav-item dropdown sk">
                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Profile
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/dashboard/profile" id="prof" data-toggle="tooltip" data-placement="left" title="Personal Details">Details</a>
                    <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="left" title="Any Questions?">Help</a>
                    <div class="dropdown-divider"></div>
                   <form action="\logout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="dropdown-item " data-toggle="tooltip" data-placement="left" title="Click to log-out">Log Out</button>
                    </form>
                    
                  </div>
                </li>
            </ul>
            
          </div>
          </nav>

       </div>
       
       <div class="flex-container tp1 ">
        <div class="flex-container" id="scorecard">
        <div class="score container"><p><br>You scored <span><%= total %> / <%= totalpos %></span></p>
        <div class="flex-container cus">
            <button type="button" class="btn btn-outline-success btn-large" id="review">REVIEW</button>
          </div>
        </div>

        <% if(newsetter == true) { %>
        <div class="flex-container tp1 sp19" >
        <div class="flex-container sp19">
        <div class="score container sp19">
        <p class="sp3">SET QUIZ option is now enabled <br>You can set your own quiz</p>
        </div></div></div>
        <% }; %>
            
        
       </div> 
        <div style="display: none;" id="answer">
          <!--
          <button type="button" class="btn btn-outline-success btn-large whity" onclick="window.location.href='/dashboard'">Back to dashboard</button>
          <br><br>
          -->
          <div class="flex-container cus">
            <a href="/comment/<%= qid %>" class="btn btn-outline-success btn-large sp22" id="review">COMMENT</a>
          </div>
        <% for(i=0 ; i<questions.length ; i++) { %>
        <div class="jumbotron jumbo_custom"> 
                
            <h1 class="display-6 question_size"><%= i+1 %>.<%= questions[i].question %> - <%= questions[i].points %>points</h1>
            <hr class="my-6">
            <div class="flex-domains">

            <% for(j=0 ; j < 4 ; j++) { 
                if(questions[i].options[j] == result[i].op && questions[i].options[j] != questions[i].options[questions[i].answer-1]){ %>
                  <div class="wrong"><%= questions[i].options[j] %></div>
                <% }
                else if(questions[i].options[j] == questions[i].options[questions[i].answer-1]){ %>
                  <div class="correct"><%= questions[i].options[j] %></div>
            <% }else{%>
            <div class="option"><%= questions[i].options[j] %></div>  

            <% };}; %>  

            </div>
            <br>

            <div class="flex-domains">

          <%if(!result[i].op){%>
          <h5 class="cust12" >YOU <span style="color:#bd2d1a" >DID NOT</span> ANSWER</h5>
          <%}else if(result[i].op == questions[i].options[questions[i].answer-1]){%>
          <h5 class="cust12" >YOU ANSWERED <span style="color:#358f5d">CORRECT</span></h5>
          <%}else{%>
          <h5 class="cust12" >YOU ANSWERED <span  style="color:#bd2d1a">WRONG</span></h5>
          <%};%>

            </div>

          
          </div>
            <br>

            <% }; %>

            
      
       </div>
       
       
       </div>
  
       </div>
       
       <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
       <script>
           document.getElementById("review").onclick=function()
           {
            document.getElementById("scorecard").innerHTML=document.getElementById("answer").innerHTML;
           };
       </script>
       </body>
       </html>