<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="css/quiztaker.css">
    <link rel="stylesheet" href="css/result.css">
    <title>I-Quiz</title>
    
  </head>
  <body>
    
    <div class="n1 container-fluid flex-container">
       <div class="n2">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark1 na">
          <a class="navbar-brand" href="/dashboard" data-toggle="tooltip" data-placement="bottom" title="Platform for everyone!">I-Quiz</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto">
              <!-- <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="/dashboard" data-toggle="tooltip" data-placement="bottom" title="Home page">Dashboard</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/attendedquiz" data-toggle="tooltip" data-placement="bottom" title="Attended by you">Attended Quiz</a>
                </li>
              <div class="sq">
                <li class="nav-item selected">
                  <a class="nav-link selected <%= setter? '':'disabled' %> " href="/setquiz1" tabindex="-1" aria-disabled="<%= setter.toString() %>"  >Set Quiz</a>
                </li></div>
                                  <% if(setter){ %>
                <li class="nav-item">
                  <a class="nav-link" href="/quizzesset" data-toggle="tooltip" data-placement="bottom" title="setted by you">Quizzes set</a>
                </li>
                  <% }; %>
                <li class="nav-item dropdown sk">
                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Profile
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/dashboard/profile" id="prof" data-toggle="tooltip" data-placement="left" title="Personal Details">Details</a>
                    <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="left" title="Any Questions?">Help</a>
                    <div class="dropdown-divider"></div>
                   <form action="\logout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="dropdown-item " data-toggle="tooltip" data-placement="left" title="Click to log-out">Log Out</button>
                    </form>
                    
                  </div>
                </li>
            </ul>
            
          </div>
          </nav>

       </div>
       <form action="/setquiz3" method="post" enctype="multipart/form-data" novalidate>
        <% if(js == "0") { %>
                   <div class="flex-container tp1 sp16" >
                  <div class="flex-container sp16">
                  <div class="score container sp16">
                  <p class="sp3">You can view your Quiz card in quizzes set</p>
                  </div></div></div>
        <% }; %>
        <div class="flex-container tp1    <% if(js == "0") { %> sp17 <% }else{ %> sp8 <% }; %>" >
        <div class="flex-container  <% if(js == "0") { %> sp17 <% }else{ %> sp8 <% }; %>">
        <div class="score container  <% if(js == "0") { %> sp17 <% }else{ %> sp8 <% }; %>">

        <input type="text" name="sid" value="<%= sid %>" hidden>
        
        <p class="sp10">Quiz image</p>
        <input id="s1" class="form-control" type="file" id="img" name="qimg" <% if(error){ %> style="border:3px solid red;" <% }; %>>
        <% if(js == "0") { %>
            <button type="submit" name="skip" class="btn btn-outline-success btn-large" id="sa" value="1">skip</button>
        <% }; %>
                <button type="submit" class="btn btn-outline-success btn-large" id="review1">Next</button>
        </div></div></div>
        <input type="number" name="js" value="<%= js %>" hidden>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        
        </form>

  
       </div>
       <script>
       </script>

       <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
       </html>