<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="css/quiztaker.css">
    <link rel="stylesheet" href="css/result.css">
    <title>I-Quiz</title>
    
  </head>
  <body>
    
    <div class="n1 container-fluid flex-container">
       <div class="n2">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark1 na">
          <a class="navbar-brand" href="/dashboard" data-toggle="tooltip" data-placement="bottom" title="Platform for everyone!">I-Quiz</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto">
              <!-- <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="/dashboard" data-toggle="tooltip" data-placement="bottom" title="Home page">Dashboard</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/attendedquiz" data-toggle="tooltip" data-placement="bottom" title="Attended by you">Attended Quiz</a>
                </li>
              <div class="sq">
                <li class="nav-item selected">
                  <a class="nav-link selected <%= setter? '':'disabled' %> " href="/setquiz1" tabindex="-1" aria-disabled="<%= setter.toString() %>"  >Set Quiz</a>
                </li></div>
                                  <% if(setter){ %>
                <li class="nav-item">
                  <a class="nav-link" href="/quizzesset" data-toggle="tooltip" data-placement="bottom" title="setted by you">Quizzes set</a>
                </li>
                  <% }; %>
                <li class="nav-item dropdown sk">
                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Profile
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/dashboard/profile" id="prof" data-toggle="tooltip" data-placement="left" title="Personal Details">Details</a>
                    <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="left" title="Any Questions?">Help</a>
                    <div class="dropdown-divider"></div>
                   <form action="\logout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="dropdown-item " data-toggle="tooltip" data-placement="left" title="Click to log-out">Log Out</button>
                    </form>
                    
                  </div>
                </li>
            </ul>
            
          </div>
          </nav>

       </div>

            <form action="/setquiz4" method="post" novalidate>

        <% if(!d){ %>

        <div class="flex-container tp1 sp9" >
        <div class="flex-container sp9">
        <div class="score container sp9">
        <p class="sp3" <% if(validationErrors.find(e => e.param === 'difficulty')){ %> style="color:red" <% }; %>>Difficulty</p>
        <div class="form-check form-check-inline sp7">
        <input class="form-check-input" type="radio" name="difficulty" id="inlineRadio1" value="0" <% if(!validationErrors.find(e => e.param === 'difficulty') && oldvalue.d == "0") { %> checked <% }; %>>
        <label class="form-check-label" for="inlineRadio1">Easy</label>
        </div>
        <div class="form-check form-check-inline sp7">
        <input class="form-check-input" type="radio" name="difficulty" id="inlineRadio2" value="1" <% if(!validationErrors.find(e => e.param === 'difficulty') && oldvalue.d == "1") { %> checked <% }; %>>
        <label class="form-check-label" for="inlineRadio2">Medium</label>
        </div>
        <div class="form-check form-check-inline sp7">
        <input class="form-check-input" type="radio" name="difficulty" id="inlineRadio3" value="2" <% if(!validationErrors.find(e => e.param === 'difficulty') && oldvalue.d == "2") { %> checked <% }; %>>
        <label class="form-check-label" for="inlineRadio3">Hard</label>
        </div>
        </div></div></div>

        <% }else{ %>

        <input type="text" name="difficulty" id="inlineRadio3" value="<%= d %>" hidden >
        <input type="text" name="h" id="inlineRadio4" value="1" hidden >

        <% }; %>

        <div class="flex-container tp1 <%= !d?"sp14":"sp15" %>" >
        <div class="flex-container <%= !d?"sp14":"sp15" %>">
        <div class="score container <%= !d?"sp14":"sp15" %>">
        <p>Question</p>
        <label for="quantity" class="col-form-label-sm">NO of questions ( 3 to 15 )</label>
        <input class="form-control" type="number" id="quantity" name="noq" min="3" max="15" <% if(!validationErrors.find(e => e.param === 'noq') && oldvalue.n) { %> value="<%= oldvalue.n %>" <% }; %><% if(validationErrors.find(e => e.param === 'noq')){ %> style="border-color:red" <% }; %>>
        <button type="submit" class="btn btn-outline-success btn-large" id="review1">Next</button>
        </div></div></div>
        <input type="text" name="sid" value="<%= sid %>" hidden>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>

  
       </div>

       <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
       </html>